.beatmaps{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1c20;
    color: white;
    margin-top: 50px;
}

/*******************************************
/****************** Search *****************
/*******************************************/
.beatmaps .search{
    width:75%;
    height: 180px;
    margin-top: 20px;
    background-color: #1f292e;
    display: flex;
    flex-direction: column;
}

.beatmaps .search .title-field{
    width: auto;
    height: 30%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.beatmaps .search .title-field .song-img {
    width: 40px;
    height: 35px;
}

.beatmaps .search .title-field .song-img img{
    width: 100%;
    height: 100%;
}

.beatmaps .search .title-field p{
    font-size: 22px;
    margin-left: 15px;
}

.beatmaps .search .serach-field{
    width: auto;
    height: 70%;
    display: flex;
    align-items: center;
    background-color: #454f54;
    justify-content: center;
}

.beatmaps .search .serach-field .serach-field-insid{
   width: 95%;
   height: 45px;
   border: 1px #2e3538 solid;
   display: flex;
   align-items: center;
}

.beatmaps .search .serach-field .serach-field-insid input{
    width: 92%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    margin-left: 20px;
    color: #a0aeb0;
    outline: none;
} 

.beatmaps .search .serach-field .serach-field-insid .serach-img{
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} 

.beatmaps .search .serach-field .serach-field-insid .serach-img img{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(90%) sepia(11%) saturate(460%) hue-rotate(158deg) brightness(92%) contrast(91%);
} 

@media screen and (max-width:1000px) {
    .beatmaps .search{
        width:100%;
        height: 180px;
        margin-top: 20px;
        background-color: #1f292e;
        display: flex;
        flex-direction: column;
    }
}

/*******************************************
/************** beatmaps-list **************
/*******************************************/


.beatmaps .beatmaps-list{
    width:75%;
    height: auto;
    margin-top: 20px;
    background-color: #22282a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

.beatmaps .beatmaps-list .beatmap-cart{
    width:96%;
    height: 100px;
    background-color: #394246;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 0;
    display: flex;
}

.beatmaps .beatmaps-list .beatmap-cart .background{
    width: 20%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beatmaps .beatmaps-list .beatmap-cart .background img{
    width: 40%;
    height: 40%;
    cursor: pointer;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-left: 15px;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info p{
    margin: 0;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .author{
    font-size: 15px;
    margin-bottom: 4px;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .title{
    margin-top: 3px;
    margin-bottom: 4px;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .by{
    font-size: 11px;
    color: #dbe9ee;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .by a{
    color: #82b5d2;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .more-info{
    display: flex;
    width: 100%;
    height: 20px;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .more-info .inf{
    display: flex;
    margin-right: 8px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}



.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .more-info .inf .icon{
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .more-info .inf .icon img{
    width: 100%;
    height: 100%;
}



.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .rank{
    display: flex;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .rank .ranked{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 15px;
    background-color: black;
    border-radius: 10px;
    background-color: #b3ff66;
    color:#39424b ;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .rank .rank-starts{
    display: flex;
    margin-left: 5px;
    align-items: center;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .rank .rank-starts .osu-play-icon{
    width: 15px;
    height: 15px;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .rank .rank-starts .osu-play-icon img{
    width: 100%;
    height: 100%;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info .rank .rank-starts .rank-starts-lvl{
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info
.rank .rank-starts .rank-starts-lvl .color-field{
    width: 8px;
    height: 14px;
    display: block;
    margin-right: 1px;
    border-radius: 4px;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info
.rank .rank-starts .rank-starts-lvl .color-field.f1{
    background-color: red;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info
.rank .rank-starts .rank-starts-lvl .color-field.f2{
    background-color: green;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info
.rank .rank-starts .rank-starts-lvl .color-field.f3{
    background-color: yellow;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info
.rank .rank-starts .rank-starts-lvl .color-field.f4{
    background-color: purple;
}

.beatmaps .beatmaps-list .beatmap-cart .beatmap-info
.rank .rank-starts .rank-starts-lvl .color-field.f5{
    background-color: #270f27;
}

@media screen and (max-width:1000px){
    .beatmaps .beatmaps-list{
        width:100%;
        grid-template-columns: 1fr;
    }
}













