@import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,600,900);

body{
  padding: 0;
  margin: 0;
  font-family: 'Exo 2';
  background-color: #1d1c20;
}

.App {
  display: flex;
  flex-direction: column;
}

